<link rel="stylesheet" href="style/admin.css">
<script src="script/admin.js"></script>
<div class="main-header">
    <img class="main-header_logo" src="pictures/logo.png">
</div>
<div class="admin-form">
    <h2>Создание позиции</h2>
    <div class="admin-form_pass">
        <input placeholder="Пароль для подтверждения" type="password" id="adminPass">
    </div>
    <div class="admin-position">
        <input placeholder="Наименование товара" class="name" type="text" id="name">
        <div class="header-label">Выберите раздел и категорию товара</div>
        <select id="section">
            <option value="1">Мужская</option>
        </select>
        <select id="category">
            <option value="1">Куртки</option>
        </select>
        <div class="size">
            <div></div>
        </div>
        <textarea placeholder="Описание товара" class="description" id="description"></textarea>
        <div class="header-label">Добавьте изображения товара</div>
        <div class="image-container" id="imageContainer">
            <div class="add-button" id="addButton" onclick="openModal(this)"></div>
        </div>
    </div>
    <div class="submit-container">
        <div class="submit-button" onclick="sendData()">
            Добавить на сайт
        </div>
    </div>
</div>
<div class="modal-container" id="modalContainer" onmousedown="closeModal()">
    <div class="modal" id="modal">
        <div class="cross-button" onclick="closeModal()"></div>
        <div class="text-modal">Добавьте ссылку на изображение</div>
        <input placeholder="URL изображения" class="modal-description" id="picURL"></input>
        <div class="modal-container-add-button">
            <div class="modal-add-button" onclick="modalConfirm()">
                Ок
            </div>
        </div>
    </div>  
</div>
