<link rel="stylesheet" href="style/admin.css">
<script src="script/admin.js"></script>
<div class="main-header">
    <a href="/">
        <img class="main-header_logo" src="pictures/logo.png">
    </a>
</div>
<div class="admin-form">
    <h2>Создание позиции</h2>
    <div class="admin-position">
        <div class="info-container">
            <input placeholder="Наименование товара" class="name" type="text" id="name">
            <input placeholder="Стоимость товара" class="price" type="text" id="price">
        </div>
        <div class="header-label">Выберите раздел и категорию товара</div>
        <select id="section" onchange="updateCategorySelect()">
            <option value="1">Женская</option>
            <option value="2">Мужская</option>
        </select>
        <select id="category">
            <option value="1"> </option>
        </select>
        <div class="header-label">Выберите размер товара и его количество на складе</div>
        <div class="size" id="sizeContainer">
            <div class="size-button" id="sizeButton">
                <div class="size-value" id="sizeValue" onclick="sizeButtonPick(this)">
                    xs
                </div>
                <div class="size-quantity">
                    <input class="size-quantity_input" placeholder="шт." id="sizeQuantity" onchange="sizeChange(this)" disabled> 
                </div>
            </div>
        </div>
        <textarea placeholder="Описание товара" class="description" id="description"></textarea>
        <input placeholder="Состав" class="composition" type="text" id="composition">
        <div class="header-label">Выберите соотвествующие уходу символы</div>
        <div class="image-container" id="imageContainerWash">
            <div class="iconWash" id="iconWash" onclick="iconWashPick(this)" title="">
                <img src="/pictures/washSymbols/1@2x.png">
            </div>
        </div>
        <div class="header-label">Добавьте изображения товара</div>
        <div class="image-container" id="imageContainer">
            <div class="add-button" id="addButton" onclick="openModal(this, 'modalContainer')"></div>
        </div>
    </div>
    <div class="header-label">Выберите цвет товара</div>
    <div class="color-container">
        <input placeholder="Название цвета" class="color-input-text" id="colorName"> 
        <input type="color" class="color-input" id="color">
    </div>
    <div class="admin-form_pass">
        <input placeholder="Пароль для подтверждения" type="password" id="adminPass">
    </div>
    <div class="submit-container">
        <div class="submit-button" onclick="sendData()">
            Добавить на сайт
        </div>
    </div>
</div>
<div class="modal-container" id="modalContainer" onmousedown="closeModal('modalContainer')">
    <div class="modal" id="modal">
        <div class="cross-button" onclick="closeModal('modalContainer')"></div>
        <div class="text-modal">Добавьте ссылку на изображение</div>
        <input placeholder="URL изображения" class="modal-description" id="picURL"></input>
        <div class="modal-container-add-button">
            <div class="modal-add-button" onclick="modalConfirm('modalContainer')">
                Ок
            </div>
        </div>
    </div>  
</div>
<div class="modal-container" id="modalContainerFinish">
    <div class="modal" id="modalFinish">
        <div class="cross-button" onclick="closeModal('modalContainerFinish')"></div>
        <div class="text-modal">Позиция добавлена</div>
        <div class="modal-container-add-button">
            <div class="modal-add-button" onclick="closeModal('modalContainerFinish', true)">
                Ок
            </div>
        </div>
    </div>  
</div>
<div class="modal-container" id="modalContainerError">
    <div class="modal" id="modalError">
        <div class="cross-button" onclick="closeModal('modalContainerError')"></div>
        <div class="text-modal">Позиция не добавлена, заполните все поля</div>
        <div class="modal-container-add-button">
            <div class="modal-add-button" onclick="closeModal('modalContainerError')">
                Ок
            </div>
        </div>
    </div>  
</div>
