<header>
    <link rel="stylesheet" href="style/auth.css">
    <script src="script/auth.js"></script>
    <title>
        Авторизация
    </title>
</header>
<%- include('header') %>
<body class="layout">
   <div class="form-container" id="container">
        <div class="form-control">
            <div class="form-switch1 form-switch-active" id="logInSwitch" onclick="switchForm('logIn')">
                Вход
            </div>
            <div class="form-switch2" id="registerSwitch" onclick="switchForm('register')">
                Регистрация
            </div>
        </div>
        <div class="form-login" id="logInForm"> 
            <form>
                <input placeholder="E-mail" id="email">
                <div class="remark">
                    Это обязательное поле.
                </div>
                <div class="login-password">
                    <input placeholder="Пароль" type="password" id="passwordInp" oninput="passwordHandler(this)" complex>
                    <div class="icon-eye" onclick="lookPassword()" id="iconEye">
                        
                    </div>
                </div>
                <div class="remark">
                    Это обязательное поле.
                </div>
                <div class="auth-button">
                    Войти
                </div>
            </form>
            <div class="forgot-password-container">
                <div class="forgot-password-button" onclick="openModal()">
                    Забыли пароль?
                </div>
            </div>
        </div>
        <div class="form-register" id="registerForm">
            <form>
                <input placeholder="Имя" id="name">
                <div class="remark">
                    Это обязательное поле.
                </div>
                <input placeholder="E-mail" id="emailReg">
                <div class="remark">
                    Это обязательное поле.
                </div>
                <input placeholder="Пароль" type="password" id="password" onfocusout="repeatPassCheck()" repeat>
                <div class="remark">
                    Это обязательное поле.
                </div>
                <input placeholder="Повторите пароль" type="password" id="passwordRepeat" onfocusout="repeatPassCheck()" repeat>
                <div class="remark">
                    Это обязательное поле.
                </div>
                <div class="auth-button">
                    Зарегистрироваться
                </div>
            </form>
        </div>
   </div> 
   <div class="modal-container" id="modalContainer" onmousedown="closeModal()">
    <div class="modal" id="modal">
        <div class="cross-button" onclick="closeModal()"></div>
        <div class="modal-header">Восстановить пароль</div>
        <div class="modal-text">На вашу почту будет направлено письмо с инструкцией</div>
        <input placeholder="E-mail" class="modal-description" id="picURL"></input>
        <div class="modal-container-add-button">
            <div class="modal-add-button" onclick="modalConfirm()">
                Отправить
            </div>
        </div>
    </div>  
</div>
</body>