<link rel="stylesheet" href="style/cart.css">
<script src="script/cart.js"></script>
<%- include('header') %>
<head>
    <title>
         Корзина
    </title>
</head>

<div class="main-container">
    <div class="content-container"> 
        <div class="header-text" id="quantityGoods">
            Корзина (3)
        </div>
        <div class="goods-container" id="goodsContainer">
            <div class="product-container-main" id="productContainerMain">
                <div class="product-container">
                    <div class="img-container">
                        <a id="productLink"><img src="pictures/hit1.jpg" id="productImg"></a>
                        <div class="delete-button" id="productDeleteButton">
                            Удалить
                        </div>
                    </div>
                    <div class="details-product-container">
                        <div class="name-product" id="productName">
                            Кофта
                        </div>
                        <div class="product-remark" id="size">
                            Размер: xs
                        </div>
                        <div class="product-remark" id="quantity">
                            Кол-во: 1
                        </div>
                        <div class="product-remark" id="color">
                            Синий
                        </div>
                    </div>
                </div>
                <div class="position-prise" id="price">
                    4000 руб.
                </div>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="details-container">
            <div class="header-text">
                Сводные данные
            </div>
            <div class="sum-contaiher">
                <div class="sum-text">
                    Итого
                </div>
                <div class="sum-text" id="Sum">
                    1111 руб.
                </div>
            </div>
            <div class="delivery-contaiher">
                <div class="delivery-text">
                    Доставка
                </div>
                <div class="delivery-text">
                    Бесплатно
                </div>
            </div>
            <div class="shop-button">
                Купить
            </div>
        </div>
    </div>
</div>