<link rel="stylesheet" href="style/favoriteList.css">
<script src="script/favoriteList.js"></script>
<%- include('header') %>
<head>
    <title>
         Избранные товары
    </title>
</head>

<body>
    <div class="main-without-favorite-container" id="mainWithoutFavoriteContainer">
        <span class="header-favorite">Избранное</span>
        <div class="remark-header">
            <span class="name" id="name">vbbb</span>, Ваш список любимых вещей пуст.
        </div>
        <div class="remark-header">
            Сохраните понравившиеся модели в избранное, чтобы не потерять их из вида.
        </div>
        <div class="shop-button">
            Посмотреть новинки
        </div>
    </div>
    <div class="main-favorite-container" id="mainFavoriteContainer">
        <span class="header-favorite">Избранное</span>
        <div class="remark-header">
            <span class="name" id="name">vbbb</span>, Здесь собраны понравившиеся Вам модели.
        </div>
    </div>
    <div class="details-favorite-container" id="detailsFavoriteContainer">
        <div class="product-container" id="productContainer">
            <div class= "img-container">
                <a id="productLink"><img src="pictures/hit1.jpg" id="productImg"></a>
                <div class="delete-button" id="productDeleteBut" onclick="deleteFavorite(this)">
                    
                </div>
                <div class="size-container" id="sizeContainer">
                    <div class="size-header-container">
                        <div class="size-header">
                            Выберите размер
                        </div>
                        <div class="size-close-button" id="sizeCloseButton" onclick="closeSizeContainer(this)">
                            
                        </div>
                    </div>
                    <div class="size-button" id="sizeButton" onclick="addInCart(this)">
                        хs
                    </div>
                </div>
            </div>
            <div class="product-name" id="productName">
                Название товара
            </div>
            <div class="product-price" id="productPrice">
                5 000 pуб.
            </div>
            <div class="shop-button" id="shopButton" onclick="shopButtonHandler(this)">
                Добавить в корзину
            </div>
        </div>
    </div>
</body>