<link rel="stylesheet" href="style/style.css">
<script src="script/authController.js"></script>
<script src="script/header.js"></script>
<div class="main-header">
    <a href="/">
        <img class="main-header_logo" src="pictures/logo.png">
    </a>
    <div class="main-header_sections" id="sectionsContainer">
        <div class="main-header_sections-she">
            <span class="main-header_sections-she_text">Женское</span>
            <div class="main-header_dropdown">
                <div>
                    <a class="main-header_dropdown-category">Одежда</a>
                    <a class="main-header_dropdown-item">Пальто</a>
                    <a class="main-header_dropdown-item">Куртки</a>
                    <a class="main-header_dropdown-item">Жилеты</a>
                    <a class="main-header_dropdown-item">Комбинезоны</a>
                </div>
                <div>
                    <a class="main-header_dropdown-category">Аксессуары</a>
                    <a class="main-header_dropdown-item">Головные уборы</a>
                    <a class="main-header_dropdown-item">Шарфы и перчатки</a>
                </div>
            </div>
        </div>

        <div class="main-header_sections-he">
            <span class="main-header_sections-he_text">Мужское</span>
            <div class="main-header_dropdown">
                <div>
                    <a class="main-header_dropdown-category">Одежда</a>
                    <a class="main-header_dropdown-item">Жилеты</a>
                    <a class="main-header_dropdown-item">Пальто</a>
                    <a class="main-header_dropdown-item">Куртки</a>
                </div>
                <div>
                    <a class="main-header_dropdown-category">Аксессуары</a>
                    <a class="main-header_dropdown-item">Шарфы и перчатки</a>
                    <a class="main-header_dropdown-item">Головные уборы</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header_search" id="searchContainer">
        <div class="icon"></div>
        <input type="text" placeholder="Искать товары">
        <div class="main-header_search-popup">
            <div class="last-search">
                <h4>Вы недавно искали</h4>
                <div class="delete-all-button">
                    Удалить все
                </div>
            </div>
            <div class="last-positions">
                <h4>Последние позиции, которые вы смотрели</h4>
            </div>
        </div>
    </div>
    <div class="main-header_menu">
        <div onclick="toggleSearch()">
            <div class="icon" id="iconSearch"></div>
            <div id="titleSearch">Поиск</div>
        </div>
        <div>
            <a href="/auth">
                <div class="icon"></div>
                <div id="titleProfile">Войти</div>
            </a>
        </div>
        <div>
            <div class="icon"></div>
            <div>Избранное</div>
        </div>
        <div>
            <div class="icon"></div>
            <div>Корзина</div>
        </div>
        <div>
            <div class="icon"></div>
            <div>Поддержка</div>
        </div>
    </div>
</div>