<header>
    <link rel="stylesheet" href="style/style.css">
    <title>
        A&M
    </title>
</header>
<%- include('header') %>
<div class="content">
    <div class="content-bestseller">
        <div class="content-bestseller_container">
            <div class="content-bestseller_container_imgs">
                <div class="content-bestseller_container_imgs_img1">
                    <img src="pictures/hit1.jpg">
                </div>
                <div class="content-bestseller_container_imgs_img2">
                    <img src="pictures/hit2.jpg">
                </div>
            </div>
            <div class="content-bestseller_container_text">
                <h2 class="content-bestseller_container_text-hit">Хиты продаж</h2>
                <div class="content-bestseller_container_text-button">
                    Посмотреть подборку
                </div>
            </div>
        </div>
    </div>
    <div class="content-collection">
        <div class="content-collection_container">
           <img src="pictures/collectionFur.jpg">
            <div class="content-collection_container_text">
                <h2 class="content-collection_container_text-1">Уют в каждом моменте</h2>
                <h3 class="content-collection_container_text-2"> Коллекция экошуб</h3>
                <h4 class="content-collection_container_text-link">Узнать больше</h4>
            </div>
        </div>
    </div>
</div>
