<header>
    <link rel="stylesheet" href="style/profile.css">
    <script src="script/authController.js"></script>
    <script src="script/profile.js"></script>
    <title>
        Личный кабинет
    </title>
</header>
<%- include('header') %>
<body>
    <div class="profile-container">
        <div class="profile-greeting">
            Здраствуйте, <span class="name" id="name">vbbb</span>!
        </div>
        <div class="profile-remark-greeting">
            Здесь Вы можете просматривать свои покупки и редактировать свои данные.
        </div>
        <div class="profile-section-conainer">
            <div class="profile-section">
                Мои данные
            </div>
            <div class="profile-remark">
                Редактировать основные данные Вашего профиля: имя и пароль.
            </div>
            <div class="profile-section">
                Мои покупки
            </div>
            <div class="profile-remark">
                Вы можете посмотреть и отследить свои заказы.
            </div>
            <div class="profile-section">
                Избранное
            </div>
            <div class="profile-remark">
                Войдите в Избранное, чтобы просмотреть понравившиеся модели.
            </div>
        </div>
        <div class="log-of-button">
            Выйти
        </div>
        <div class="profile-section-container-help">
            <div class="profile-section">
                Помощь
                <div class="profile-remark">
                    Связаться с нами и узнать ответы на распрстраненные вопросы.
                </div>
            </div>
            <div class="profile-section">
                Возврат денежных средств
                <div class="profile-remark">
                    Управляйте своими банковскими данными.
                </div>
            </div>
        </div>
    </div>
</body>