<header>
    <link rel="stylesheet" href="style/profile.css">
    <script src="script/authController.js"></script>
    <script src="script/profile.js"></script>
    <title>
        Личный кабинет
    </title>
</header>
<%- include('header') %>
<body>
    <div class="profile-container">
        <div class="profile-greeting">
            Здраствуйте, <span id="name">vbbb</span>!
        </div>
        <div class="profile-remark">
            техт
        </div>
    </div>
</body>