body {
    font-family: Myfont-Light, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #ffffff;
}

.main-header {
    position: fixed;
    top: 0;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-height: 60px;
    line-height: 60px;
    border-bottom: 1px rgb(226, 224, 224) solid;
    left: 0;
    right: 0;
    z-index: 5;
}

.main-header_logo {
    width: 300px;
}

h2 {
    text-align: center;
    
}

.admin-form {
    font-family: Myfont-Light, sans-serif;
    width: 60%;
    margin: auto;
    padding: 20px;
   

}

.admin-form input, .admin-form textarea, .admin-form select, .modal-description {
    border: 0;
    border-bottom: 1px rgb(156, 156, 156) solid;
    margin-top: 12px;
    padding: 6px;
    font-family: Myfont-Light, sans-serif;
}

.admin-form input:focus, .admin-form textarea:focus, .admin-form select:focus, .modal-description:focus {
    border: 0;
    border-bottom: 1px rgb(85, 80, 80) solid;
    outline: none;
}

.admin-form select{
    width: 30%;
}

.info-container {
    display: flex;
}

.name, .price, .admin-form_pass {
    width: 30% !important;
    margin-right: 12px;
}

.header-label {
    padding: 10px 6px;
    margin-top: 12px;
    font-size: 18px;
}

.admin-form input, .admin-form textarea {
    width: 100%;
}

.size {
    display: flex;
}

.size-button {
    display: none;
    border: 2px rgb(97, 97, 97) solid;
    box-sizing: border-box;
    width: 80px;
    padding: 0;
    margin: 10px;
}

.size-value {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0;
}

.sizeValueActive {
    background-color:#000000;
    color: rgb(255, 255, 255);
    border: 2px black solid !important;
}

.sizeValueActive:hover {
    background-color: rgb(56, 56, 56) !important;
    color: rgb(255, 255, 255) !important;
}

.size-button:hover {
    background-color: rgba(218, 216, 216, 0.342);
}

.size-quantity {
    width: 50%;
}

.size-quantity_input {
    border-bottom: none !important;
    height: 40px;
    margin-top: 0 !important;
}

.iconWash {
    width: 50px;
    height: 50px;
    padding: 2px;
    display: none;
    border: 2px rgb(255, 255, 255) solid;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    margin-bottom: 12px;

}

.iconWash img {
    width: 40px;
    height: 40px;
}

.iconWashActive {
    border: 2px rgb(97, 97, 97) solid !important;
    
}

.iconWash:hover {
    border: 2px rgb(97, 97, 97) solid;
    background-color: rgba(226, 226, 226, 0.274);
    filter: invert(5%);
}

.image-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.color-container {
    display: flex;
}

.color-input-text {
    width: 30% !important;
    margin-right: 12px;
}

.color-input {
    width: 25px !important;
    height: 25px !important;
    border: 1px black solid !important;
    line-height: 30px;
    padding: 0 !important;
}

.color-input::-webkit-color-swatch-wrapper {
    padding: 0 !important;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.add-button {
    font-family: Icons;
    height: 50px;
    width: 50px;
    border: 2px gray solid;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    background-color: rgba(146, 137, 137, 0.137);
    margin-top: 12px;
    cursor: pointer;
    display: none;
    margin-left: 12px;
    background-size: cover;
    background-position: center;
}

.add-button:hover {
    background-color: rgba(85, 80, 80, 0.137);
}

.submit-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 25%;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    background-color:#000000;
}

.submit-button:hover {
    background-color: rgb(56, 56, 56);
}

.modal-container {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.877);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100wh;
    font-family: Myfont-Light, sans-serif;
}

.cross-button {
    font-family: Icons;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.cross-button:hover {
    font-weight: 700;
}

.text-modal {
    padding: 10px 0px;
    margin-top: 12px;
    font-size: 18px;
}

.modal {
    position: absolute;
    width: 30%;
    border: 1px rgb(156, 156, 156) solid;
    padding: 0 40px 40px 40px;
    background-color: rgb(255, 255, 255);
}

.modal-description {
    width: 100%;
    resize: none;
}

.modal-container-add-button {
    display: flex;
    justify-content: flex-end;
}

.modal-add-button {
    width: 15%;
    margin-top: 20px;
    text-align: center;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px rgb(119, 119, 119) solid;
    cursor: pointer;
    color:#ffffff;
    background-color:#000000;
}

.modal-add-button:hover {
    background-color: rgb(56, 56, 56);
}

@font-face {
    font-family: Icons;
    src: url("fonts/font.woff") format("woff")
}

@font-face {
    font-family: Myfont-Light;
    src: url("fonts/Myfont-light.woff2") format("woff2");
}

@font-face {
    font-family: Myfont-Bold;
    src: url("fonts/Myfont-bold.woff2") format("woff2");
}