body {
    font-family: Myfont-Light, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #ffffff;
}

.layout {
    margin: 0;
}

.form-container {
    width: 25%;
    margin-top: 100px;
}

.form-control {
    display: flex;
    width: 100%;
}

.form-switch1, .form-switch2 {
    padding: 4px 0 6px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-bottom: 24px;
    cursor: pointer;
}

.form-switch-active {
    border-bottom: 1px black solid;
}

.form-register {
    display: none;
}

.form-login input, .form-register input, .modal-description {
    border: 0;
    border-bottom: 1px rgb(156, 156, 156) solid;
    margin-top: 12px;
    padding: 6px;
    font-family: Myfont-Light, sans-serif;
    width: 100%;
}

.form-login input:focus, .form-register input:focus, .modal-description:focus {
    border: 0;
    border-bottom: 1px rgb(85, 80, 80) solid !important;
    outline: none;
}

.auth-button {
    color: rgb(255, 255, 255);
    margin-top: 36px;
    text-align: center;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
    background-color:#000000;
}

.auth-button:hover {
    background-color: rgb(56, 56, 56);
}

.remark {
    color: rgb(243, 17, 17);
    font-size: 11px;
    margin-bottom: 16px;
    visibility: hidden;
}

.form-login form {
    margin-bottom: 0;
}

.forgot-password-container {
    text-align: center;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    color: rgb(53, 53, 53);
}

.forgot-password-button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.login-password {
    display: flex;
    position: relative;
}

.icon-eye {
    font-family: Icons;
    position: absolute;
    margin-top: 12px;
    right: 0;
    cursor: pointer;
    color: rgb(156, 156, 156);
    display: none;
}

.icon-eye:hover {
    color: rgb(56, 56, 56);
}


.modal-container {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.877);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100wh;
    font-family: Myfont-Light, sans-serif;
}

.cross-button {
    font-family: Icons;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.cross-button:hover {
    font-weight: 700;
}

.modal-header {
    padding: 10px 0px;
    margin-top: 12px;
    font-size: 18px;
}

.modal-text {
    font-size: 14px;
    margin-bottom: 12px;
}

.modal {
    position: absolute;
    width: 30%;
    border: 1px rgb(156, 156, 156) solid;
    padding: 0 40px 40px 40px;
    background-color: rgb(255, 255, 255);
}

.modal-description {
    width: 100%;
    resize: none;
}

.modal-container-add-button {
    display: flex;
    justify-content: flex-end;
}

.modal-add-button {
    width: fit-content;
    margin-top: 20px;
    text-align: center;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px rgb(119, 119, 119) solid;
    cursor: pointer;
    color:#ffffff;
    background-color:#000000;
}

.modal-add-button:hover {
    background-color: rgb(56, 56, 56);
}

.auth-link {
    color: rgb(77, 77, 77); 
}

.auth-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

@font-face {
    font-family: Icons;
    src: url("fonts/font.woff") format("woff")
}