body {
    font-family: Myfont-Light, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #ffffff;
}

.layout {
    margin: 0;
}

.form-container {
    width: 25%;
    margin-top: 100px;
}

.form-control {
    display: flex;
    width: 100%;
}

.form-switch1, .form-switch2 {
    padding: 4px 0 6px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-bottom: 24px;
    cursor: pointer;
}

.form-switch-active {
    border-bottom: 1px black solid;
}

.form-register {
    display: none;
}

.form-login input, .form-register input {
    border: 0;
    border-bottom: 1px rgb(156, 156, 156) solid;
    margin-top: 12px;
    padding: 6px;
    font-family: Myfont-Light, sans-serif;
    width: 100%;
}

.form-login input:focus, .form-register input:focus {
    border: 0;
    border-bottom: 1px rgb(85, 80, 80) solid !important;
    outline: none;
}

.auth-button {
    color: rgb(255, 255, 255);
    margin-top: 36px;
    text-align: center;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
    background-color:#000000;
}

.auth-button:hover {
    background-color: rgb(56, 56, 56);
}

.remark {
    color: rgb(243, 17, 17);
    font-size: 11px;
    margin-bottom: 16px;
    visibility: hidden;
}

.form-login form {
    margin-bottom: 0;
}

.forgot-password-container {
    text-align: center;
    font-size: 12px;
    height: 44px;
    line-height: 44px;
}

.login-password {
    display: flex;
    position: relative;
}

.icon-eye {
    font-family: Icons;
    position: absolute;
    margin-top: 12px;
    right: 0;
    cursor: pointer;
    color: rgb(156, 156, 156);
    display: none;
}

.icon-eye:hover {
    color: rgb(56, 56, 56);
}

@font-face {
    font-family: Icons;
    src: url("fonts/font.woff") format("woff")
}